
.home-head
  {
    height: 100%;
    padding-top: 100px;
    text-align: left;
    margin-top: 50px;
  }
  .media
   {
       /*box-shadow:0px 0px 4px -2px #000;*/
       margin: 10px ;
       padding:10px;
       background: #fff;
   }

   .close
   {
     background: url(../img/cb.png);
    background-size: contain;
     width: 20px;
     height: 20px;
     margin-left: 10px;
     cursor: pointer;
   }
.lb-md{
letter-spacing: 1.1px;
}
.cbtns
{
  position: absolute;
  right: 0;
  top: 0;
}
.media-body
{
  position: relative;
}
.well
{

}
.mtop-xs
{
  margin-top: 9px;
}

.btn-fluid
{
  width: 100%;
}
.tag-label{

}
.panel-body
{
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
}
.tab-content .media{
  background: #eee;
margin: 10px 0px;

}
.tab-content hr{
margin-top: 5px;
}
